a {
  color: #333;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: color 0.2s ease-out 1s;
          transition: color 0.2s ease-out 1s; }
  a:hover {
    color: #777;
    text-shadow: 1px 0 1px #383838; }
  a:active {
    color: #383838; }
